{% include "layouts/base.html" %}
{% block content %}
    <h1>Compras</h1>
    <table class="tabla">
        <thead>
            <tr>
                <th>Codigo</th>
                <th>Fecha</th>
                <th>Total</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
            {% for compra in compras %}
                <tr>
                    <td>{{compra.id_factura}}</td>
                    <td>{{compra.fecha}}</td>
                    <td>${{compra.total}}</td>
                    <td>
                        <div class="boton">
                            <a href="{% url 'detalle_compra' compra.id_factura %}">Detalle</a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="boton  mg">
        <a href="{% url 'crear_factura' tipo %}">Nueva compra</a>
    </div>

{% endblock %}